:host{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal {
    display: flex;
    margin-top: 150px;
}
.modal-title{
    font-size: 18px;
}

.btn {
    width: 160px;
}